.form-container {
    margin-right: 40%;
    margin-left: 40%;
    border-radius: 10px;
}

.control-label {
    font-family: inherit;
    font-weight: 800;
}

.form-control {
    width: fit-content;
    margin-left: 0%;
    margin-right: 10%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20px;
    padding: 5px;
}

#emp-details {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

h1 {
    text-align: center;
}

#emp-details td,
#emp-details th {
    border: 1px solid #ddd;
    padding: 8px;
}

#emp-details tr:nth-child(even) {
    background-color: #f2f2f2;
}

#emp-details tr:hover {
    background-color: #ddd;
}

#emp-details th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #26d49a;
    color: white;
}