<div >
  <h2>Users Details in List</h2>

  <ol>
{{#each userslist as |user|}}
 <li>Name: {{user.name}}<br>Age: {{user.age}}<br>Place: {{user.place}}<br>Position: {{user.position}}</li>
   {{/each}}
  </ol>

</div>